
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background-color: #524652;
color:white;
}

#status, #numobjects, #start_mod
{
font-size: 18px;
background-color:#d4c5d4;
}

body{

background-size:cover;
background-position: center;

}

canvas{

box-shadow: 10px 10px 10px gray;
border-radius: 10px;
background-color: #524652;
margin-top: 30px;
}