
body{

    background-size:cover;
    background-position: center;
    
}


.heading{

    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: #afb3e3;
    color:white;

}


.anchor{

background-color: white;
height:30px;
width:50px;
font-size: 28px;

}

#status, #objects
{
font-size: 18px;
background-color:#d4c5d4;
}


#canvas {

background-color: white;
border: solid black 5px;

}